{% extends "layout.html" %}
{% block head %} Add Question Page {% endblock %}

{% block body %}
{% if session.username %}
<br>

<div class="container-fluid border-bottom">
<div class="col-xs-10 col-md-offset-1">
    <form action="{{url_for('add_question')}}" method="POST">
        <div style="margin-top: 8rem">
        <div>
        <h3>Title for your question</h3>
        <textarea  class=" border border_black" style="width: 55rem; height: 7rem" id="title" name="title"  required></textarea>
        </div>
        <div style="margin-top: 3rem">
        <h3>Type your question</h3>
        <textarea id="message" name="message" style="width: 55rem; height: 7rem" required></textarea>
        </div>
        <button class="btn btn-warning btn-circle text-uppercase" style="margin-top: 1rem; margin-bottom: 3rem" name="add_question">
            Post question
        </button>
        </div>
    </form>
</div>
</div>
    {% else %}
    <br>
<div style="margin-left: 3rem">
    <h2 >You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem"><a class="btn btn-warning btn-circle text-uppercase href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
</div>
{% endif%}
{% endblock %}