{% extends "layout.html" %}
{% block head %} add answer {% endblock %}

{% block body %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    {% for question in question_data  %}
    <div class="container; ">
    <div class="row">
    <div class="col-xs-8 col-md-offset-2">
        <h1>
            {{ question.title }}
        </h1>
        <h2 >
            {{ question.message }}
        </h2>
    </div>
    </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">
        <div class="page-header">
            <h3 class="reviews">Leave your answer</h3>
        </div>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="/question/{{ question.id }}"><h4 class="reviews text-capitalize">Answers</h4></a></li>
                <li class="active"><a href= "" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add answer</h4></a></li>

            </ul>
           <div>
               <form name="new_answer" action="/question/{{ question.id }}" method="post">
               <textarea  style="margin-top: 20px; margin-bottom: -25px; padding: 0rem 3rem 2rem 0rem " id="new_answer" name="new_answer"> </textarea>
                   <button class="btn btn-warning btn-circle text-uppercase" type="submit" name="new_answer">post your answer</button>
               </form>
           </div>
        </div>
    </div>
 </div>

{% endfor %}
  <div class="page-header text-center">
    <h3 class="reviews"><span class="glyphicon glyphicon-magnet"></span> Archdaily by  Hajni, Marci, Fülöp</h3>
  </div>
  <div class="notes text-center"><small>Image credits: uifaces.com</small></div>
</div>


{% endblock %}