{% extends "layout.html" %}
{% block head %} Home Page {% endblock %}

{% block body %}


    {% for question in question_data  %}
        <div class="container; ">
        <div class="row">
        <div class="col-xs-10 col-md-offset-1">

            <h3>
            <b>Question #{{ question.id }}:</b>
            </h3>

            <h1>
                <u>{{ question.title }}</u>
            </h1>
                <br>
            <h3>
                {{ question.message }}
            </h3>

            <a class="btn btn-info btn-circle text-uppercase" href="/question/{{ question_id }}/vote-up" id="reply">
                <span class="glyphicon glyphicon-thumbs-up"></span> {{ question.vote_number }} like</a>
            <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" onclick="show_hide()">
                <span class="glyphicon glyphicon-comment"></span>Show comments</a>
            <a class="btn btn-danger btn-circle text-uppercase" href="/delete/{{ question_id }}" id="question_delete">
                <span class="glyphicon glyphicon-remove"></span>Delete</a>



                <script>
                    function show_hide() {
                        var x = document.getElementById("question_comments");
                        if (x.style.display === "block") {
                        x.style.display = "none";
                        } else {
                        x.style.display = "block";
                        }
                    }
                </script>

                <div class="collapse" id="question_comments" style="padding: 0px 50px; margin-top: 25px">
                {% for question_comments in comment_question_data %}
                <ul class="media-list">
                <li class="media media-replied">
                    <div class="media-body">
                      <div class="well well-lg">
                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-user"></span> unknown user </h4>
                          <ul class="media-date text-uppercase reviews list-inline">
                            <li class="dd">{{ question_comments.submission_time }}</li>
                          </ul>
                          <ul class="text-uppercase list-inline" style="text-align: right; margin-top: 1rem">
                            <li >Edited {{ question_comments.edited_count }} times.</li>

                              <li class="dd">
                              <a class="btn btn-warning btn-circle text-uppercase" href="/comment/{{ question_comments.id }}/edit">
                                <span class="glyphicon glyphicon-edit"></span>Edit</a>
                              </li>

                            <li class="dd">
                              <a class="btn btn-danger btn-circle text-uppercase" href="/comment/{{ question_comments.id }}/delete" onclick="return confirm('Are you sure you want to delete this comment?')">
                                <span class="glyphicon glyphicon-remove"></span>Delete</a>
                            </li>
                          </ul>
                          <p class="media-comment">
                            {{ question_comments.message }}
                          </p>
                      </div>
                    </div>
            </li>
            </ul>
                    {% endfor %}

                <ul style="padding: 0px 50px ">
                    <div class="media-body">
                    <div class="well well-lg" methods="post" >
                        <form name="submit_answer_comments" method="post" action="{{ url_for(('add_comment_to_question'), question_id=question.id) }}">
                            <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> post your comment:</h4>
                            <textarea name="comment_question" rows="4" cols="155" ></textarea>
                            <button class="btn btn-warning btn-circle text-uppercase" name="comment_question" type="submit"> post comment </button>
                        </form>
                    </div>
                </div>
                </ul>

            </div>




    </div>
    </div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm-20 col-sm-offset--3" id="logout">
        <div class="page-header">
            <h3 class="reviews">Leave your answer</h3>

        </div>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Answers</h4></a></li>
                <li><a href="{{ question.id }}/new-answer" ><h4 class="reviews text-capitalize">Add answer</h4></a></li>


            </ul>
            {% for answer in answer_data %}
                <script>
                function show_hide_answer(answer_id) {
                  var x = document.getElementById("answer_comments"+answer_id);
                  if (x.style.display === "block") {
                    x.style.display = "none";
                  } else {
                    x.style.display = "block";
                  }
                }
                </script>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments-logout">
                        <ul class="media-list">

                          <li class="media">
                            <div class="media-body">
                              <div class="well well-lg">
                                  <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-user"></span> unknown user</h4>
                                  <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">{{ answer.submission_time }}</li>
                                      <li class="dd">
                                          <a class="btn btn-danger btn-circle text-uppercase" href="/answer/{{ answer.id }}/delete" onclick="return confirm('Are you sure you want to delete this answer?')">
                                            <span class="glyphicon glyphicon-remove"></span>Delete</a>
                                      </li>
                                  </ul>
                                  <h4 class="media-comment">


                                    {{ answer.message }}
                                  </h4>
                                  <a class="btn btn-info btn-circle text-uppercase" href="/question/{{ question_id }}/vote-up" id="reply"><span class="glyphicon glyphicon-thumbs-up"></span> [{{ answer.vote_number }}] Like</a>
                                  <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" onclick="show_hide_answer({{ answer.id }})"><span class="glyphicon glyphicon-comment"></span> Show comments</a>

                              </div>
                            </div>

                            <div class="collapse" id="answer_comments{{ answer.id }}">
                            <div>
                            <ul class="media-list">
                                <li class="media media-replied">

                                    <div class="media-body">
                                      <div class="well well-lg" methods="post" >
                                          <form name="submit_answer_comments" method="post" action="{{ url_for('comment_to_answer', answer_id = answer.id) }}">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> post your comment:</h4>
                                            <textarea name="comment_answer" rows="4" cols="124"></textarea>
                                          <button class="btn btn-warning btn-circle text-uppercase" name="comment_answer" type="submit"> post comment </button>
                                          </form>
                                      </div>
                                    </div>
                                </li>
                              </ul>
                          </div>
                            {% for answer_comment in comment_answer_data %}
                                {% if answer_comment.answer_id == answer.id %}
                            <ul class="media-list">
                                <li class="media media-replied">

                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-user"></span> unknown user</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd"> {{ answer_comment.submission_time }}</li>
                                          </ul>
                                          <p class="media-comment">

                                            {{ answer_comment.message }}

                                            </p>

                                        </div>
                                    </div>

                                </li>
                              </ul>
                                {% endif %}
                                {% endfor %}

                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>


{% endfor %}




{% endblock %}