{% extends "layout.html" %}
{% block head %} Home Page {% endblock %}

{% block body %}

<script>
    function show_hide() {
      var x = document.getElementById("question_comments");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

</script>

    {% for question in question_data  %}
        <div class="container; ">
        <div class="row">
        <div class="col-xs-10 col-md-offset-1">

            <h3>
            Question #{{ question.id }}
            </h3>

            <br>

            <h1>
                {{ question.title }}
            </h1>

            <p style="font-weight: lighter">
                {{ question.message }}
            </p>

            <a class="btn btn-info btn-circle text-uppercase" href="/question/{{ question_id }}/vote-up" id="reply"><span class="glyphicon glyphicon-share-alt"></span> {{ question.vote_number }} like</a>
            <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" onclick="show_hide()"><span class="glyphicon glyphicon-comment"></span> comments</a>

            {% for question_comments in comment_question_data %}

            <div class="collapse" id="question_comments" style="padding: 0px 50px; margin-top: 25px">
            <ul class="media-list">
                                <li class="media media-replied">
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> unknown </h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd">{{ question_comments.submission_time }}</li>
                                            <li class="dd">Edited {{ question_comments.edited_count }} times.</li>
                                            <li class="dd"><a href="/comment/{{ question_comments.id }}/edit">Edit comment</a></li>
                                          </ul>
                                          <p class="media-comment">
                                            {{ question_comments.message }}
                                          </p>

                      </div>
                    </div>
                </li>
            </ul>
        </div>
            {% endfor %}
    </div>
    </div>
    </div>


<div class="container">
  <div class="row">
    <div class="col-sm-20 col-sm-offset--3" id="logout">
        <div class="page-header">
            <h3 class="reviews">Leave your answer</h3>

        </div>
        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Answers</h4></a></li>
                <li><a href= "{{ question.id }}/new-answer" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add answer</h4></a></li>
                <li><a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Account settings</h4></a></li>

            </ul>
            {% for answer in answer_data %}
                <script>
                function show_hide_answer(answer_id) {
                  var x = document.getElementById("answer_comments"+answer_id);
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
                </script>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments-logout">
                        <ul class="media-list">

                          <li class="media">
                            <div class="media-body">
                              <div class="well well-lg">
                                  <h4 class="media-heading text-uppercase reviews">unknown user</h4>
                                  <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">{{ answer.submission_time }}</li>
                                  </ul>
                                  <p class="media-comment">

                                      <a href="{{url_for('comment_to_answer', answer_id=answer.id)}}">Comment on answer_id: {{ answer.id }}</a><br>
                                    {{ answer.message }}
                                  </p>
                                  <a class="btn btn-info btn-circle text-uppercase" href="/question/{{ question_id }}/vote-up" id="reply"><span class="glyphicon glyphicon-share-alt"></span> [{{ answer.vote_number }}] Like</a>
                                  <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" onclick="show_hide_answer({{ answer.id }})"><span class="glyphicon glyphicon-comment"></span> Show Comments</a>

                              </div>
                            </div>

                            <div class="collapse" id="answer_comments{{ answer.id }}">
                            <div>
                            <ul class="media-list">
                                <li class="media media-replied">

                                    <div class="media-body">
                                      <div class="well well-lg" methods="post" >
                                          <form name="submit_answer_comments" method="post" action="{{ url_for('comment_to_answer', answer_id = answer.id) }}">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> post your comment:</h4>
                                            <textarea name="comment_answer" placeholder="{{ answer.id }}"></textarea>
                                          <button class="btn btn-warning btn-circle text-uppercase" name="comment_answer" type="submit"> post comment </button>
                                          </form>
                                      </div>
                                    </div>
                                </li>
                              </ul>
                          </div>
                            {% for answer_comment in comment_answer_data %}
                                {% if answer_comment.answer_id == answer.id %}
                            <ul class="media-list">
                                <li class="media media-replied">

                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> unknown user</h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="dd"> {{ answer_comment.submission_time }}</li>
                                          </ul>
                                          <p class="media-comment">

                                            {{ answer_comment.message }}

                                            </p>

                                        </div>
                                    </div>

                                </li>
                              </ul>
                                {% endif %}
                                {% endfor %}

                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>


{% endfor %}
  <div class="page-header text-center">
    <h3 class="reviews"><span class="glyphicon glyphicon-magnet"></span> Archdaily by  Hajni, Marci, Fülöp</h3>
  </div>
  <div class="notes text-center"><small>Image credits: uifaces.com</small></div>
</div>


{% endblock %}