{% extends "layout.html" %}
{% block head %} Edit a Comment # {{ comment.id }}on a Question {{ question_id }}{% endblock %}

{% block body %}





<div class="container-fluid border-bottom">
<div class="col-xs-10 col-md-offset-1">
    <form action="/comment/{{ comment.id }}/edit" method="POST" id="txtArea">
        <div style="margin-top: 5rem; margin-left: 30%; margin-right: 30%">
        <div>
        <h3>Edit the question:</h3>
        <textarea  class=" border border_black" style="width: 55rem; height: 15rem" id="title" name="comment-text" >{{ comment.message }}</textarea>
        </div>

        <button class="btn btn-warning btn-circle text-uppercase" style="margin: 1rem 2rem 1rem 20rem;" name="add_question">
            Edit question
        </button>
        </div>
    </form>
</div>
</div>
{% endblock %}
