
{% extends "layout.html" %}
{% block head %} Home Page {% endblock %}

{% block body %}

<div style="margin-left: 3rem">
    <div>

        <form action="/search" >
            <label for="search-phrase">Search by phrase:</label>
            <input id="search-phrase" type="text" name="search-phrase", autocomplete="on">
            <input type="submit" name="submit_button" value="Search">
        </form>
    </div>

        {% for res in list_searched_items %}

    <div style="margin-top: 5rem" class="container-fluid border-bottom">
        {% if answer == [] %}
        <div class="border-bottom">
            <h2 style="text-align: center"> Title:</h2>
            <br>
            <p style="font-size: 22px"> {{ res.title }} </p>
        </div>
        {% endif %}
        <div style="margin-top: 5rem">
            <h2 style="text-align: center"> {{ type }}  </h2>
            <br>
            <p style="font-size: 22px"> {{ res.message }}</p>
        </div>
    </div>
            <br>
        <a class="btn btn-warning btn-circle text-uppercase" href="/question/{{ res.id }}"> check it </a>

    {% endfor %}


    {% if session.username %}

<p>Welcome, {{ session.username}}!</p>
<a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('logout')}}">Logout</a><br>

{% else %}
 <div style="margin-top: 6rem">
<h2 >You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
  </div>
{% endif%}
</div>
{% endblock %}