
{% extends "layout.html" %}
{% block head %} Home Page {% endblock %}

{% block body %}

<div class="container bgdiv col-sm-20 col-sm-offset--3">
    <div style="margin-top: 1rem">

        <form action="/search" >
            <label for="search-phrase">Search by phrase:</label>
            <input id="search-phrase" type="text" name="search-phrase", autocomplete="on">
            <input type="submit" name="submit_button" value="Search">
        </form>
    </div>
    <div style="margin-top: 5rem" class="container-fluid border-bottom">

    {% if type == "both" %}
        {% for ans in answer %}
        <div class="border-bottom">
            <h2 style="text-align: center"> The following answer contains your search phrase </h2>
            <br>
            <p style="font-size: 22px"> {{ ans.message }} </p>
            <a class="btn btn-warning btn-circle text-uppercase" style="margin-top: 2rem" href="/question/{{ ans.question_id }}">check it</a>
        </div>
        {% endfor %}
        {% for question in quest %}
            <div style="margin-top: 5rem" class="border-bottom">
            <h2 style="text-align: center"> The following question contains your search phrase  </h2>
            <br>
            <p style="font-size: 22px"> {{ question.message }}</p>
             <a class="btn btn-warning btn-circle text-uppercase" style="margin-top: 2rem" href="/question/{{ question.id }}">check it</a>
            </div>
        {% endfor %}
        {% elif answer == [] and quest != []%}
        {% for res in list_searched_items %}


        <div class="border-bottom">
            <h2 style="text-align: center"> Title:</h2>
            <br>
            <p style="font-size: 22px"> {{ res.title }} </p>
        </div>
        {% endfor %}
        {% elif quest == [] and answer != [] %}
        {% for res in list_searched_items %}




        <div style="margin-top: 5rem">
            <h2 style="text-align: center"> {{ type }}  </h2>
            <br>
            <p style="font-size: 22px"> {{ res.message }}</p>
        </div>
    </div>
            <br>
        <a class="btn btn-warning btn-circle text-uppercase" href="/question/{{ res.id }}"> check it </a>
    {% endfor %}
    {% endif %}



    {% if session.username %}

<p>Welcome, {{ session.username}}!</p>
<a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('logout')}}">Logout</a><br>

{% else %}
 <div style="margin-top: 6rem">
<h2 style="text-align: center">You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem; margin-left: 45%"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem; margin-left: 46%"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
  </div>
{% endif%}
</div>
{% endblock %}