
{% extends "layout.html" %}
{% block head %} Profile Page {% endblock %}

{% block body %}

    {% if session.username %}


                <a href="{{url_for('logout')}}" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>


        <table class="table table-striped table-hover">

            <tr>
                <td>Your ID</td>
                <td>Your username</td>
                <td>You are registered since</td>
            </tr>
            {% for data in userdata %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.username }}</td>
                <td>{{ data.register_date }}</td>
            </tr>
            {% endfor %}

        </table>

{% else %}
<br>
<div style="margin-left: 3rem">
    <h2 >You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem"><a class="btn btn-warning btn-circle text-uppercase href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
</div>
{% endif%}

{% endblock %}