
{% extends "layout.html" %}
{% block head %} Profile Page {% endblock %}

{% block body %}

    {% if session.username %}

<h1>Welcome, {{ session.username}}!</h1>
<h1><a href="{{url_for('route_home')}}">Back to home</a><br></h1>
<h1><a href="{{url_for('logout')}}">Logout</a><br></h1>
{% for data in userdata %}
    <h2>ID: {{ data.id }} <br> Name: {{ data.username }}<br> Register date: {{ data.register_date }}</h2>
{% endfor %}
{% else %}
<br>
<div style="margin-left: 3rem">
    <h2 >You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem"><a class="btn btn-warning btn-circle text-uppercase href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
</div>
{% endif%}

{% endblock %}