{% extends "layout.html" %}
{% block head %} Register Page {% endblock %}

{% block body %}


<div class="login-box">

    <h2>Register</h2>

  <form action="{{url_for('register')}}" method="POST">
    <div class="user-box">
      <input type="text" name="username" required="" autocomplete="off">
      <label>Username</label>
    </div>

    <div class="user-box">
       <input type="text" name="email" required="" autocomplete="off">
       <label>Email</label>
    </div>

    <div class="user-box">
      <input type="password" id="password" name="password" required="">
      <label>Password</label>
    </div>
        <h4><a href="{{url_for('userlogin')}}">Already have an account? Login!</a></h4>

      <div class="user-box button">
    <button class="btn">
    Register
    </button>
          </div>
  </form>
</div>

{% endblock %}