{% extends "layout.html" %}

{% block body %}
    {% if session.username %}

    <p>Welcome, {{ session.username}}!</p>
    <a href="{{url_for('logout')}}">Logout</a><br>


    <h3>List of all registered users on Archy</h3>
        <table>
            <tr>
                <td>Username</td>
                <td>Registered Date</td>
            </tr>
            {% for user in users_details %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.register_date }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
    <br>
<div style="margin-left: 3rem">
    <h2 >You are not logged in!</h2>
    <ul class="text-uppercase list-inline" style="text-align: left; margin-top: 1rem">
        <li class="dd" style="margin-top: 2rem"><a class="btn btn-warning btn-circle text-uppercase" href="{{url_for('register')}}">Register</a></li>
            <br>
        <li class="dd" style="margin-top: 1rem"><a class="btn btn-warning btn-circle text-uppercase href="{{url_for('userlogin')}}">Login</a></li>
            <br>
    </ul>
</div>
    {% endif%}
{% endblock %}